In [23]:
import pandas as pd
import yfinance as yf
from datetime import datetime

In [24]:
symbol_list=['AAXJ','SPY','ACWI']
list_cols=['Ticker','Date/Time','open','high','low','close','volume']
output_file='data/ASIA-US-WORLD.csv'

In [25]:
from_date_str='2022-12-28'
to_date_str='2022-12-31'

In [26]:
dfMain=pd.DataFrame(columns=list_cols)
dfMain

Empty DataFrame
Columns: [Ticker, Date/Time, open, high, low, close, volume]
Index: []

In [27]:

for symbol in symbol_list:
    dfx=yf.download(tickers=symbol,start=from_date_str,end=to_date_str)
    if dfx.empty==False:
        print(f"Symbol={symbol}")
        dfx.drop(columns=['Adj Close'],inplace=True)
        dfx.reset_index(drop=False,inplace=True)
        dfx['Date']=dfx['Date'].dt.strftime('%d/%m/%Y')
        dfx.insert(0,'Ticker',symbol,True)
        dfx.columns=list_cols 
        
        dfMain=pd.concat([dfMain,dfx],axis=0)
        
    else:
        print(f"Not found {symbol} in finance.yahoo.com")

[*********************100%***********************]  1 of 1 completed
Symbol=AAXJ
[*********************100%***********************]  1 of 1 completed
Symbol=SPY
[*********************100%***********************]  1 of 1 completed
Symbol=ACWI

In [28]:
dfMain

  Ticker   Date/Time        open        high         low       close    volume
0   AAXJ  27/12/2022   65.379997   66.050003   65.129997   65.760002    350100
1   AAXJ  28/12/2022   65.400002   65.470001   64.419998   64.419998   1083700
2   AAXJ  29/12/2022   65.010002   65.779999   65.010002   65.720001    434700
3   AAXJ  30/12/2022   65.290001   65.480003   64.620003   64.790001    572600
0    SPY  27/12/2022  382.790009  383.149994  379.649994  381.399994  51638200
1    SPY  28/12/2022  381.329987  383.390015  376.420013  376.660004  70911500
2    SPY  29/12/2022  379.630005  384.350006  379.079987  383.440002  66970900
3    SPY  30/12/2022  380.640015  382.579987  378.429993  382.429993  83975100
0   ACWI  27/12/2022   85.150002   85.349998   84.690002   85.029999   4102300
1   ACWI  28/12/2022   85.050003   85.389999   83.930000   83.930000   3474700
2   ACWI  29/12/2022   84.760002   85.580002   84.610001   85.389999   5039100
3   ACWI  30/12/2022   84.820000   85.059998   84.330002   84.879997   4201900

In [29]:
dfMain.to_csv(output_file,index=False)